.gameQuizz {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    padding: 30px;
    box-sizing: border-box;
    height: 100vh;

    &__grid {
        grid-area: 1 / 1 / 13 / 11;
        border: 1px solid red !important;
    }

    &__utils {
        grid-area: 1 / 11 / 13 / 13;
        display: grid;
        gap: 15px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
        .utils {
            &__actions {
                display: flex;
                flex-direction: column;
                gap: 15px;
                grid-area: 1 / 1 / 2 / 2;
                button {
                    font-size: 1.2em;
                    padding: 20px 30px;
                    color: var(--font--color--quizz);
                    font-family: 'thunder lc';
                }
            }
        }
    }
}