// src/styles/mixins.scss
@mixin button() {
    cursor: pointer;
    background: var(--background);
    border: 1px solid var(--background--2);
    box-shadow: 2px 2px 0px 2px var(--background--2);
    border-radius: 5px;
  
    &:hover {
        color: var(--forground--2);
    }

    &:active {
        transform: translateY(4px);  // Décale le bouton de 4px vers le bas pour simuler l'écrasement
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);  // Ombre plus douce pour simuler l'enfoncement
    }
}