.playersList {
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--background--4);
    border-radius: 5px;
    grid-area: 3 / 1 / 9 / 2;
    ul {
        li {
            padding: 10px 15px;
            border: 1px solid;
            display: flex;
            justify-content: space-between;
        }
    }
}